nav {
  position: fixed;
  background-color: rgb(34, 34, 34);
  width: 100%;
  top: 0;
  right: 0;
}

.nav-links {
  width: 100%;
  list-style: none;
  color: white;
  display: flex;
}

.nav-link {
  cursor: pointer;
}

.nav-link:hover {
  opacity: 90%;
}

.login {
  align-self: flex-end;
}

.logout {
  align-self: flex-end;
}
